astroid
attrs 
black 
CacheControl 
cachetools 
certifi 
charset-normalizer 
click 
dill 
Faker 
firebase-admin 
google-api-core 
google-api-python-client 
google-auth 
google-auth-httplib2 
google-cloud-core 
google-cloud-firestore 
google-cloud-storage 
google-crc32c 
google-resumable-media 
googleapis-common-protos 
grpcio 
grpcio-status 
httplib2 
idna 
iniconfig 
isort 
lazy-object-proxy 
mccabe 
msgpack 
mypy-extensions 
packaging 
pathspec 
platformdirs 
pluggy 
proto-plus 
protobuf 
py 
pyasn1 
pyasn1-modules 
pydantic 
pylint 
pyparsing 
pytest 
pytest-mock 
python-dateutil 
python-decouple 
python-dotenv 
requests 
rsa 
six 
tomli 
tomlkit 
typing_extensions 
uritemplate 
urllib3 
wrapt
